body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
    height: 3px;
    background: black;
}

#board {
    width: 450px;
    height: 450px;
    background-color: rgb(201, 175, 175);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.bros {
    font-size: 48px;
    font-weight: bold;
}

.tile {
    width: 147px;
    height: 147px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

.winner {
    background-color: wheat;
    color: yellowgreen;
}

button {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    display: inline-block;
    justify-content: center;
}

@media (max-width: 375px) {
    body {
        position: absolute;
        left: -45px;
        transform: scale(75%);
}
    header.bros{
        font-size:30px;
        
    }
    hr{
        width: 250px;
        
    }
 
}  